body {
    background-color: #F5F5F5;
}

.navbar {
    background-color: purple !important;
}

.heading {
    display: flex;
    color: #ffffff;
}

.nav-link {
    color: #ffffff !important;
    font-weight: bold;
}

.nav-link:hover {
    background-color: orange;
}

.card1,
.card2,
.card3 {
    display: flex;
    height: 70px;
    width: 300px;
    box-shadow: 3px 4px 5px grey;
    justify-content: center;
    align-items: center;
    color: purple;
    border-radius: 5px;
    margin-top: 10px;
    flex-wrap: wrap;
    background-color: #ffffff;
}

.maincard {
    display: flex;
    justify-content: space-around;
    margin: 30px;
    flex-wrap: wrap;
}

.fa-truck,
.fa-headphones,
.fa-thumbs-up {
    font-size: 40px !important;
    color: purple;
}

.art,
.stat,
.books,
.box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    
}

.prod1,
.prod2,
.prod3,
.prod4 {
    background-color: #ffffff;
    margin-top: 30px;
    border-radius: 5px;
}

.list {
    color: white;
}

.dropdown-menu {
    background-color: purple;
}

.dropdown-item {
    color: #ffffff !important;
}

.dropdown-item:hover {
    background-color: orange;
}

.p5p6 {
    background-color: #ffffff;
    margin-top: 10px;
}

.comingsoon {
    width: 80%;
    height: 300px;
    margin-top: 100px;
    margin-left: 140px;
    margin-bottom: 60px;
}

.aboutUs {
    width: 70%;
    margin-left: 100px;
    padding-top: 20px;
}

.marquee {
    background-color: orange;
    color: black;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    left: 175px;
    top: 5px;
    padding-bottom: 5px;
    width: 70%;
    direction: left;
    height: 25px;
    vertical-align: baseline;
}

@media screen and (max-width: 577px) {
    .marquee {
        width: 80%;
        left: 25px;
    }
    .aboutImg {
        width: 100%;
        height: 100px;
    }
    .FORMS {
        width: 80%;
        margin-left: 0px;
    }
    textarea {
        width: 80%;
    }
    .btn {
        width: 80%;
    }
}

.contact {
    background-color: purple;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.col2,
.col3 {
    color: #ffffff;
}

form {
    width: 60%;
    margin-left: 240px;
    margin-top: 40px;
    margin-bottom: 70px;
}

.buttonForm {
    width: 100px;
    margin: 40px auto 20px auto;
}

.btn:hover {
    background-color: purple;
    color: orange;
}

.form-group {
    margin-top: 30px;
}

@media screen and (max-width: 577px) {
    form {
        width: 100%;
        margin-left: 0px;
    }
    .buttonForm {
        width: 80%;
        margin: 25px auto 20px auto;
    }
}